<H1>New Post</H1>
<form action="/post/create" method="post" >
  <p>Title: <input type="text" name="title"></p>
  <p>Content: <input type="text" name="body"></p>
  <input type="submit" value="Create">
</form>