<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<H1>All Posts</H1>
<div>
    <a href="/posts/create">create a new post</a>
</div>

<table>
    <thead>
    <th>Title</th>
    <th>Author</th>
    <th>LastUpdate</th>
    </thead>

    <tr th:each="post: ${posts}">
        <td><a th:text="${post.title}" th:href="'/posts/'+${post.id}"></a></td>
        <td th:text="${post.author}"></td>
        <td th:text="${post.lastUpdate}"></td>
        <td>
            <a th:href="'/posts/'+${post.id}+'/delete'">delete</a></td>
    </tr>


</table>
</body>
</html>